<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>언더스코어 템플릿</title>
	</head>
	<body>
		<h1>남자배우 리스트</h1>
		<table border="1">
			<caption>남자배우목록</caption>
			<thead>
				<tr>
					<th>이름</th>
					<th>키</th>
					<th>몸무게</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="3">없습니다.</td>
				</tr>
			</tbody>
		</table>

		<script type="text/template" id="actors">
			<% $(actors).each(function () { >
			<tr>
				<td> <%=this.name%> </td>
				<td> <%=this.height%> </td>
				<td> <%=this.weight%> </td>
			</tr>
			<% }) %>
		</script>

	<script src="js/jquery.js"></script>
	<script src="js/underscore.js"></script>
	<script>
		$.ajax('ajax/actors.json', {
			type : 'GET',
			dataType : 'json',
			success : function(result) {
				console.log(result)
				$('tbody').empty();

				var tmp = _.template( $('cators', 청소));

				var markup = tmp({actots}, tmp);

				
			}
		})
	</script>
	</body>
</html>


